rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Wedding collection and wedding user records
    match /{document=**} {
      allow read, write: if true;
    }
  }
}

